@import "./cards.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.start-page {
  width: 100vw;
  margin: 0 auto;
  margin-top: 120px;
}
.start-page h1 {
  text-align: center;
  margin-bottom: 40px;
}

.validation-message {
  color: red;
  font-size: 12px;
}

.start-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-header {
  margin: 5px;
  margin-bottom: 10px;
}
.bet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.bet {
  font-size: 26px;
  text-align: center;
  margin: 10px;
}

.bet-button {
  margin-top: 20px;
  width: 100px;
}

.play-button {
  border: 1px solid black;
  background-color: white;
  text-transform: uppercase;
  padding: 20px;
  width: 150px;
  margin: 20px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}

.game-status {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    &.lose {
      color: red;
    }
    &.win {
      color: green;
    }
    &.draw {
      color: blue;
    }
  }
}

.panel {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.player-info {
  margin-left: 100px;
}
h2,
h3 {
  margin-top: 10px;
}
.game-button {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: black;
  font-weight: 600;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}

.buttons {
  display: flex;
}
*[disabled] {
  cursor: not-allowed;
}