#header{
  background-color: #666;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: white;
  
}
.container{
  display:flex;
  align-items:center;
  flex-wrap: wrap;
  justify-content: center;
}
.campusCard{
  display:flex;
  
}
.box-1{
  flex:1;
  order:1;

  padding:10px;
    
}
.box-2{
  flex:1;
  order:1;
border:1px #ccc solid;
  padding:10px;
  width: 300px;
  height: 300px;
    
}
.box-3{
  flex:1;
  order:1;
  border:1px #ccc solid;
  padding:10px;
    
    
}
.addButton{
  margin:0 auto;
  display:block;
}
.emptyValue{
  text-align: center;
}
.center {
  margin: auto;
  width: 30%;
  padding: 10px;
}
#logo {
  margin: auto;
  width: 30%;
  padding: 10px;
}

.Coinimg{
  width: 100px;
  height: 100px;
}

.flip-coin-front, .flip-coin-back {
  margin: 80px;
}

#CoinGame button:hover{
  cursor: pointer;
}