body {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    background-image: url(https://image.freepik.com/free-vector/pattern-poker-casino-poker-card-suits-white-background_47243-1161.jpg);
  }
  
  h1, p{
    text-align: center;
  }
  

  button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    display: block;
    border-radius: 10px;
    margin: 10px auto;
  }
  
  button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  button:active {
    color: #000
  }
  
  button:active:after {
    background: transparent;
  }
  
  button:hover:before {
    opacity: 1;
  }
  
  button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  
  .RPS {
    margin-top: 35px;
    padding: 5px;
  }
  
  .player {
    width: 240px;
    height: 180px;
    margin: 60px;
    margin-bottom: 100px;
    display: inline-block;
  }
  
  .selectHand{
    width: 100px;
    height: 50px;
    display: inline;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    background: #000;
    margin-left: 100px;
  }
  
  .player:nth-child(2) {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .item-image{
    height: 200px;
    width: auto;
  }
  
  #winner{
    width: 100px;
    height: 50px;
    margin: 20px auto;
    color: black;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
  }